{% extends "base.html" %}

{% block content %}
    
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="/static/images/geotweet.png" alt="...">
        <div class="caption">
          <h3>Geo Tweet</h3>
          <p>Another project from Alexandros Ntavelos</p>
          <p><a href="/geotweet" class="btn btn-primary">Check this out</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="/static/images/passphoto.jpg" alt="...">
        <div class="caption">
          <h3>Rock Paper Scissors</h3>
          <p>Another project from Alexandros Ntavelos</p>
          <p><a href="/geotweet" class="btn btn-primary">Check this out</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="/static/images/instapairs.png" alt="...">
        <div class="caption">
          <h3>Find the pairs</h3>
          <p>Another project from Alexandros Ntavelos</p>
          <p><a href="/instapairs" class="btn btn-primary">Check this out</a></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}